body {
    background-color: #424242;
    color: #FAFAFA;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    text-rendering: optimizeLegibility;
}
header {
    width: 100%;
    margin: 0 auto;
    background-color: #26A69A;    
}
h1 {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}
#findColor {
    background-color: #424242;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}
div.stripe > * {
    width: 30%;  
    margin: 1% 1.66%; 
}
button {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
    background-color: transparent;
    border: none;
    color: #FAFAFA;
    cursor: pointer;
}
button#message {
    cursor: auto;
}
button:first-of-type {
    text-align: right;
    outline: none;
}
#content {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 1em;
}
div.square {
    width: 31%;
    margin: 1.16%;
    padding-bottom: 28%;
    /* background-color: #F06292; */
    float: left;
}
#content::after {
    clear: both;
    margin-bottom: 1.66%;
}
hr {
    margin: 1%;
    border: none; 
    clear: both; 
}
footer {
    margin: 0.5em 0;
    padding: 0.02em 1em;
   
    background-color: #26A69A;
}
footer p {
    font-size: 0.7rem;
    margin: 0.2em 0;
    padding: 0.3em 1em;
    /* margin: 0;
    padding: 0; */
}

/* //=== CSS TRANSITIONS ===// */
.square {
    transition: all .3s ease-in-out;
}
/* .square:hover { 
    transform: scale(1.03); 
} */
.shrink { 
    transform: scale(0.98); 
}
.bg-color {
    background-color: rgb(28, 129, 119);
    padding: 1% 1.66%; 
}